.chat-group-form
  %h1 チャットグループ編集
  = form_for(@group) do |f|
    #new_chat_group
      = render "error"

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        グループ名
      .chat-group-form__field--right
        %input.chat-group-form__field--right___input{name: "group[name]", value: "#{@group.name}", id:"group_name", placeholder: "グループ名を入力してください"}

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        チャットメンバーを追加

      .chat-group-form__field--right.clearfix
        %input.chat-group-form__field--right___input{ id:"user-search-field", placeholder: "追加したいユーザー名を入力してください", type: "text" }
        #chat_member_candidate

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        チャットメンバー
      .chat-group-form__field--right{id: "added_chat_member"}
        - @group.users.each do |user|
          %div{class: "chat-group-user clearfix", id: "chat-group-user-#{user.id}"}
            %input{name: "group[user_ids][]", type:"hidden", value: "#{user.id}"}
              %p{ class: "chat-group-user__name"}
                = user.name
              %a{ class: "user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn", "data-user-id": "#{ user.id }", "data-user-name": "#{user.name}" }
                削除





    .chat-group-form__field.clearfix.chatmember
      .chat-group-form__field--left
      .chat-group-form__field--right
        .chat-group-form__field--right__action-btn
          = f.submit(value: "登録する")
