.chat-group-form
  %h1 新規チャットグループ
  %form#new_chat_group.new_chat_group{"accept-charset" => "UTF-8", :action => "/chat_groups", :method => "post"}
  - if @group.errors.messages[:name].any?
    %ul.chat-group-form_errors
      %li
        %span 1件のエラーが発生しました。
      %li
        %div グループ名を入力してください。

  = form_for(@group) do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        グループ名
      .chat-group-form__field--right
        .chat-group-form__field--right___input_form
          = f.text_field :name, placeholder: "グループ名を入力してください"
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
      
      .chat-group-form__field--left
        チャットメンバーを追加

      .chat-group-form__field--right
        .chat-group-form__field--right___input_form
          = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b|
            = b.label { b.check_box + b.text }

        / %div{ class: 'chat-group-form__search clearfix' }
        / %input{ class: 'chat-group-form__input', id: 'user-search-field', placeholder:'追加したいユーザー名を入力してください', type: 'text' }
        / %div{ id: 'user-search-result' }

      .chat-group-form__field--left
        チャットメンバー



      .chat-group-form__field--right
        .chat-group-form__field--right___input_form
          仮置きボックス
        / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
        / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
        /
          <div id='chat-group-users'>
          <div class='chat-group-user clearfix' id='chat-group-user-22'>
          <input name='chat_group[user_ids][]' type='hidden' value='22'>
          <p class='chat-group-user__name'>seo_kyohei</p>
          </div>
          </div>
      .chat-group-form__field--right
        .chat-group-form__field--right__action-btn
          = f.submit(value: "登録する")

